.movie-card {
  width: 255px;
  height: 170px;
  top: 135px;
  left: 165px;
  gap: 0px;
  opacity: 0px;
  margin: 24px;
  border-radius: 18px;
}
.movie-card-poster {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
