.item-container {
  margin: 10px;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.item-poster {
  width: 254px;
  height: 170px;
  margin: 10px;
  top: 708px;
  left: 166px;
  border-radius: 4px;
  opacity: 0px;
}
.link-item {
  text-decoration: none;
}
